@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
.heroSection {
  background-image: url("./Images/HeroImage.png");
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
  width: 100vw;
  height: 100vh;
}

.realLink {
  text-decoration: none;
  color: #ffffff;
}
.mainButton {
  background: #f0c02a;
  border-radius: 10px;
}
hr {
  border: solid;
}
.hText {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 6.5rem;
}
.oText {
  font-size: 3rem;
  font-weight: bold;
}
.headingText {
  color: #050809;
  margin-top: 85px;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}
.hRule {
  height: 5px;
  width: 175px;
  color: #f0c02a;
  background-color: black;
  border-radius: 5px;
  align-items: center;
}
.catSec1 {
  height: 18rem;
}
.guyBox {
  margin-left: 150px;
}
.serviesSection {
  margin-top: 70px;
}
.secPText {
  /* font-size: 30px; */
  color: #999a9b;
  width: 35rem;
  text-align: justify;
}
.secHeadText {
  color: #050809;
  font-size: 35px;
  font-weight: 700;
  line-height: 3.5rem;
  /* width: 25rem; */
  margin-bottom: 5px;
}
.anotherService {
  margin-top: 30px;
}
.otherService {
   padding: 25px;
  /* width: 30rem; */
}
.greatRow {
  background-color: #f0c02a;
  margin-top: 100px;
}
.greatCard {
  background-color: #ffffff;
  margin-top: -30px;
  width: 25rem;
}
.inlinePara {
  display: flex;
  justify-content: space-around;
}
.headText {
  color: #000000;
  margin-top: 50px;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}
.firstP,
.secondP,
.middleP,
.lastP {
  color: #000000;
  font-size: 20px;
}
.input1 {
  width: 45%;
}
.mainEmail {
  width: 95%;
}
.mainMesage {
  width: 95%;
  /* height: 20rem; */
  padding-bottom: 15%;
}
.cHeadText {
  color: #000000;
  margin-top: 50px;
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
}
.lastP {
  margin-bottom: 90px;
}
